<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<div class="container" layout:fragment="content">
	<form method="post" th:action="@{/book/register}" class="form-horizontal" th:object="${book}">
		<fieldset>
			<div class="form-group row">
				<label class="col-sm-2 control-label">도서ID</label>
				<div class="col-sm-3">
					<input type="text" th:field="*{bookId}" class="form-control" />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 control-label">도서명</label>
				<div class="col-sm-3">
					<input type="text" th:field="*{name}" class="form-control" />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 control-label">가격</label>
				<div class="col-sm-3">
					<input type="number" th:field="*{unitPrice}" class="form-control" />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 control-label">저자명</label>
				<div class="col-sm-3">
					<input type="text" th:field="*{author}" class="form-control" />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 control-label">상세정보</label>
				<div class="col-sm-3">
					<textarea cols="50" rows="2" th:field="*{author}" class="form-control" />
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-offfset-2 col-sm-10">
					<button type="buttton" class="btn btn-primary register_book" value="등록"/>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<th:block layout:fragment="script">
	<script>
		$(function (){
			alert("11");
		});

		const validationForm = () => {
			$("")
		}
	</script>
</th:block>
</html>